<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mythmayor.basicproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <!-- 支持超过16:9的纵横比设备 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity android:name=".ui.activity.WebViewActivity" />
    </application>
</manifest>
